<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Welcome to MyBlog</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <section id="header">
                <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
                    <div class="container">
						<a class="px-3"><i class="fa fa-code fa-2x" aria-hidden="true"></i></a>
						<a class="navbar-brand text-black font-weight-bold" href="#">Welcome to MyBlog</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse text-center" id="navbarText">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link mr-4" href="">Home<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mr-4" href="/blogs">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mr-4" href="#show">Show</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mr-4" href="/blogs/add_12345">Add</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mr-4" href="#contact">Contact</a>
							</li>
							<% if(!currentUser){ %>
							<li class="nav-item">
								<a class="nav-link mr-4" href="/register">Register</a>
							</li>
							<li class="nav-item">
								<a class="nav-link mr-4" href="/login">Login</a>
							</li>
							<% } else{ %>
							<li class="nav-item">
								<a class="nav-link mr-4">Signed in as <%= currentUser.username %> </a>
							</li>
							<li class="nav-item">
								<a class="nav-link mr-4" href="/logout">Logout</a>
							</li>
							<% } %>
                        </ul>
                        </div>
                    </div>
                </nav>
                <div class="container text-center text-white headerset mt-10">
					<h2>Welcome to MyBlog</h2>
					<br><br><br>
					<h1>NICE TO MEET YOU</h1>
					<button class="btn btn-primary text-white btn-lg">SUBSCRIBE</button>
				</div>
        </section>

        <section id="show">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<p class="lead">MyBlog</p>
						<div class="list-group">
							<div class="list-group-item active">Info 1</div>
							<div class="list-group-item">Info 2</div>
							<div class="list-group-item">Info 3</div>
						</div>
					</div>
					<div class="col-md-9">
						<div class="card py-10">
								<img id="img1" src="<%= blog.image %>" class="rounded mx-auto d-block">
								<div class="card-title">
									<h2 class="px-5 py-5"><%= blog.title %></h2>
								</div>
								<div class="card-body">
									<span><%= blog.created.toDateString() %></span>
									<p><%= blog.description.substring(0,100)%>...</p>
									<em><p>Submitted By : <%= blog.author.username %></p></em>
								</div>
								<div class="card-footer">
									<% if(currentUser && blog.author.id.equals(currentUser._id)){ %>
									<a class="btn btn-warning d-inline" href="/blogs/<%= blog._id %>/edit">Edit</a>
									<form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST" style="display: inline;">
										<button class="btn btn-danger">DELETE</button>
									</form>
									<% } %>
								</div>
								<div class="well">
									<div class="text-right">
										<a class="btn btn-success" href="/blogs/<%= blog._id %>/comments/new">Add New Comment</a>
										<hr>
									</div>
									<% blog.comments.forEach(function(comment){ %>
										<div class="row">
											<div class="col-md-12">
												<div class="container">
												<strong> <%= comment.author.username  %> </strong>
												<p><%= comment.text %></p>
												<% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
												<form action="/blogs/<%=blog._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
													<input type="submit" class="btn btn-xs btn-danger" value="Delete">
												</form>
												<% } %>
												</div>
											</div>
										</div>
									<% }) %>
								</div>
						</div>
					</div>    
				</div>
				</div>
			</div>
        </section>

        <section id="contact" class="header pb-5">
			<div class="container py-5">
				<div class="card mt-10">
					<div class="card-body">
						<h1 class="font-weight-light text-center py-3">Contact Us</h1>
						<div class="row pt-3">
							<div class="col-lg-6 col-md-12 col-sm-12 col-12">
								<div class="row">
									<div class="col-lg-1 offset-1 col-md-2 col-sm-2 col-2">
										<span><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i></span>
									</div>
									<div class="col-lg-10 col-md-9 col-sm-9 col-9">
										<h3 class="font-weight-light">Find Us</h3>
										<p>VIT Chennai</p>
									</div>
								</div>
								<div class="row pt-3">
									<div class="col-lg-1 offset-1 col-md-2 col-sm-2 col-2">
										<span><i class="fa fa-phone fa-2x" aria-hidden="true"></i></span>
									</div>
								
									<div class="col-lg-10 col-md-9 col-sm-9 col-9">
										<h3 class="font-weight-light">Give us a ring</h3>
										<p>Aakash Ratha
										+91-9004745982<br>
										</p>
									</div>

									<div class="col-lg-1 offset-1 col-md-2 col-sm-2 col-2">
										<span><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></span>
									</div>
	
									<div class="col-lg-10 col-md-9 col-sm-9 col-9">
										<h3 class="font-weight-light">Email Us</h3>
										<p>
											support@myblog.org
										</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-12 col-sm-12 col-12">
								<form>
									<div class="form-row">
										<div class="form-group col-lg-6 col-md-12 col-sm-12 col-12">
											<label>First Name</label>
											<input type="text" class="form-control" name="fname" placeholder="First Name">
										</div>
										<div class="form-group col-lg-6 col-md-12 col-sm-12 col-12">
											<label>Last Name</label>
											<input type="text" class="form-control" name="lname" placeholder="Last Name">
										</div>
									</div>
									<label>Email</label>
									<input type="Email" class="form-control" name="email" placeholder="Email">
									<label>Your Message</label>
									<textarea class="form-control mb-3" name="message" placeholder="Message" id="" cols="20" rows="5"></textarea>
									<input type="checkbox"><label>I am not a robot</label>
									<input type="submit" class="btn btn-primary float-right">
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

        <!-- footer -->
		<section id="footer">
			<footer  style="background-color: blue">
				<div class="container">
					<div class="row ">
						<div class="col-md-4 col-sm-10 col-12 text-center text-md-left ">
							<div class="py-0">
								<h3 class="my-4 text-white">About<span class="mx-2 font-italic text-warning ">MyBlog</span></h3>
								<p class="footer-links font-weight-bold">
									<a class="text-white" href="#home">Home</a>
									|
									<a class="text-white" href="#about">About</a>
									|
									<a class="text-white" href="#team">Developer</a>
									|
                                    <a class="text-white" href="#blog">Blog</a>
                                    |
                                    <a class="text-white" href="#contact">Contact</a>
								</p>
								<p class="text-light py-4 mb-4">&copy;2020 MyBlog Solutions Pvt. Ltd.</p>
							</div>
						</div>
						
						<div class="col-md-4 text-white text-center text-md-left ">
							<div class="py-2 my-4">
								<div>
									<p class="text-white"> <i class="fa fa-map-marker mx-2 "></i>
											Vellore Institute of Technology,
										Chennai</p>
								</div>
		 
								<div> 
									<p><i class="fa fa-phone  mx-2 "></i> +91 9004745982</p>
								</div>
								<div>
									<p><i class="fa fa-envelope  mx-2"></i><a href="#">support@myblog.org</a></p>
								</div>  
							</div>  
						</div>
						
						<div class="col-md-4 text-white my-4 text-center text-md-left ">
							<span class=" font-weight-bold ">About the Website</span>
							<p class="text-warning my-2" >MyBlog helps people to write their own blogs.</p>
							<div class="py-2">
								<a href="#"><i class="fa fa-facebook fa-2x text-primary mx-3"></i></a>
								<a href="#"><i class="fa fa-google-plus fa-2x text-danger mx-3"></i></a>
								<a href="#"><i class="fa fa-twitter fa-2x text-info mx-3"></i></a>
								<a href="#"><i class="fa fa-youtube fa-2x text-danger mx-3"></i></a>
							</div>
						</div>
					</div>  
				</div>
			 </footer>
		</section>
		<!-- end of footer -->
    </body>
</html>